doctype
html
    head
        link(rel= "styleshet" , href="/vendor/bootsrap/dist/css/bootstrap.css")
        link(rel= "styleshet" , href="/vendor/toastr/toastr.css")
        link(rel= "styleshet" , href="/css/site.css")
    body
        h1 hello world